* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column; // Alinea elementos en columna
  align-items: center; // Centra horizontalmente
  justify-content: flex-start; // Alinea al inicio verticalmente
  min-height: 100vh; // Ocupa toda la altura de la ventana
  padding: 20px; // Agrega un poco de espacio alrededor
}

.title {
  margin-top: 20px; // Ajusta el margen superior para que no esté pegado al logo
  font-size: 2rem; // Ajusta el tamaño de la fuente como desees
  text-align: center; // Centra el texto
}
