.street {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 700px;
    height: 500px;
    padding: 2%;

    & div {
        width: 95%;
        height: 80px;
        margin: auto;
        border-radius: 50px;
        box-shadow: 5px 5px 5px #000, inset 10px 10px 5px #000;
        animation: shadowPulse 3s ease-in-out infinite; // Apply the animation

        & h2 {
            padding: 3%;
            font-size: 2.8rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            text-shadow: 0 5px 5px #000;
        }
    }

    & div:nth-child(1) {
        background-image: url("/skate.jpg");
    }
    & div:nth-child(2) {
        background-image: url("/tablas.jpg");
        background-position: 15%;
        background-size: 205px;
    }
    & div:nth-child(3) {
        background-image: url("/shoes.jpg");
        background-size: 205px;
    }
    & div:nth-child(4) {
        background-image: url("/truck.jpeg");
        background-size: 180px;
    }
}


@keyframes shadowPulse {
    0%, 100% {
        box-shadow: 5px 5px 5px #000, inset 10px 10px 5px #000;
    }
    50% {
        box-shadow: 0px 0px 0px #000, inset 20px 20px 20px #000; 
    }
}
