.titulo {
  padding: 2%;
  background-image: url("https://i.ibb.co/FbPVBNz/1000118515.png");
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: 101% -35%;
  background-color: #fff;
  height: 60px;
  box-shadow: 0 5px 5px #969696;
  animation: moveBackgroundH1 10s ease-in-out infinite;
}

@keyframes moveBackgroundH1 {
  0%,
  100% {
    background-position: 101% 100%;
  }
  50% {
    background-position: 101% -35%;
  }
}

.clothes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  background-image: url("https://i.ibb.co/RcNYjWz/1000118516.png");
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: 101% 135%;
  animation: moveBackground 10s ease-in-out infinite;

  & .carIcon {
    font-size: 1.5rem;
  }

  & button {
    background: transparent;
    border: none;
    font-size: 1.2rem;
  }
}

@keyframes moveBackground {
  0%,
  100% {
    background-position: 101% 135%;
  }
  50% {
    background-position: 101% 0%;
  }
}

.menuCategories {
  position: absolute;
  top: 0px;
  width: 100%;

  & ul {
    height: 100%;

    & .Li {
      display: grid;
      place-content: center;
      width: 100%;
      height: 100px;
      position: absolute;
      top: 0px;
      z-index: -10000000;
      transition: 0.5s ease-in-out;
      opacity: 0;

      & a {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
      }
    }

    & .menuOpen {
      top: 119px;
      opacity: 1;
      box-shadow: inset 0 5px 5px #969696;
      z-index: 10000000;
      background-color: #fff;
    }

    & .menuOpen:nth-child(2) {
      top: 219px;
      opacity: 1;
      transition-delay: 0.1s;
    }
    & .menuOpen:nth-child(3) {
      top: 319px;
      opacity: 1;
      transition-delay: 0.2s;
    }
    & .menuOpen:nth-child(4) {
      top: 419px;
      opacity: 1;
      transition-delay: 0.3s;
    }
  }
}
